#signup-container {
    margin-top: 3rem;
    width: 500px;
    background-color: #1313628c;
    color: white;
    border-radius: 20px;
}

#signup-head{
    text-align: center;
    padding: 10px;
}

.signup-label{
    display: inline-block;
    width: 100px;
    font-size: 20px;
    margin-left: 1.5rem;
}
.signupInput{
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    margin: 1rem 0 1rem 2rem;
}

#signup-button {
    background-color: #6CB4EE;
    width: 100px;
font-size: 20px;
font-family: Cambria;
border: none;
border-radius: 10px;
margin-left: 50%;
margin-top: 1rem;
}

#signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 10%;

}
#signup-para{
font-size: 18px;
}
#loginLink{
    color: red;
    font-size: 18px;
}