body {
  margin: 0;
  width:100vw;
  height:100vh;
  background-color:  #010146f2;
  /* background-image: url("https://wallpaperaccess.com/full/2314950.jpg"); */
  /* background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */
/* background-position: center; */
/* background-size: cover; */
/* background-repeat: no-repeat; */
  display: flex;
justify-content: center;
}
/* #010146f2 /#0d0d3d00/#dadae917*/

#logo{
  width: 400px;
}